{% include "header.html" %}
<h1>Change Password</h1>
{% if error %}
<div style="color: red;">{{ error }}</div>
{% endif %}
<form action="/changepassword" method="POST">
   <div>
     Old Password
   </div>
   <input type="password" name="old_password">
   <div>
     New Password
   </div>
   <input type="password" name="new_password">
   <div>
     Confirm New Password
   </div>
   <input type="password" name="confirm_password">
   <div>
   <input type="submit" value="Change Password">
   </div>
</form>
{% include "footer.html" %}
